.button {
  background: deepskyblue;
  border-radius: 6px;
  border: none;
  color: #e2e8f0;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.button svg {
  height: 32px;
  margin: 6px;
  width: 24px;
}

.line:before {
  color: gray important!;
  content: attr(data-prepend) attr(data-line-number) '   ';
  font-size: smaller;
}

.no-indent:before {
  color: gray important!;
  content: attr(data-prepend) attr(data-line-number);
}

.highlight-line,
.add-line,
.remove-line {
  background: #a2bab526;
}

.remove-line span {
  opacity: 0.75;
  text-decoration: line-through;
}

.add-line:before {
  color: green;
  content: attr(data-line-number) ' + ';
  font-size: smaller;
}

.remove-line:before {
  color: red;
  content: attr(data-line-number) ' - ';
  font-size: smaller;
  font-weight: bold;
}

.terminal-output {
  opacity: 66%;
}

.terminal div,
.code-container div:before {
  color: lightgray !important;
}

.terminal div:before {
  font-size: medium;
}

.filename {
  align-items: center;
  background-color: deepskyblue;
  border-radius: 6px;
  border: 1px solid black;
  color: #fff;
  display: flex;
  display: flex;
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 600;
  justify-content: center;
  margin: 5px;
  margin-bottom: 10px;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
}

.language {
  align-items: center;
  background-color: blue;
  border-radius: 6px;
  border: 1px solid black;
  color: #fff;
  display: flex;
  font-family: 'Tahoma';
  font-weight: bold;
  justify-content: center;
  margin: 5px;
  margin-bottom: 10px;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  text-transform: uppercase;
}

.component {
  background: rgb(1, 1, 113);
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.terminal .component {
  background: brown;
}

.component pre {
  background: #000;
  margin: 0;
  min-height: 44px;
  padding: 20px;
  padding-top: 30px;
  position: relative;
  line-height: 1.5;
}

.code-container {
  overflow: auto;
  background: #011627;
  border-radius: 0.5rem;
}
