.nav {
  display: flex;
  list-style: none;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

.nav-item:not(:last-child) {
  padding: 1.5rem;
  padding-top: 0px;
  text-align: left;
}

.nav-item:first-child {
  padding-left: 0;
  text-align: left;
}

.nav-item:last-child {
  /* color: data-attr(background) black; */
  padding-right: 12px;
  flex-grow: 1;
  text-align: right;
}

.nav-link {
  font-size: 1.2em;
}
