.heading {
  color: gray;
}

.nav-links {
  column-count: 2;
  column-gap: 85%;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
  text-decoration: none;
}
